* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sedgwick Ave', cursive;
}

header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0,3);
    position: sticky;
    top: 0px;
    background: black;

}

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav h1,
nav ul{
    font-size: 1,5rem;
    flex: 1;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: white;
    text-decoration: none;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 4rem;
    color: white;
}

.home {
    background-image: url('beckham.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.project1 {
    background-image: url('felix.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.project2 {
    background-image: url('haaland.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.project3 {
    background-image: url('trent.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.project4 {
    background-image: url('mbappe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bubble{
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #f80100, #1f1e22);
    transform: scale(2);
    transition: all 0.5s ease;
}
#Homemade{
    background: linear-gradient(to right top, #f80100, #1f1e22);
}
#Berkant{
    background: linear-gradient(to right top, #fe694b, #3c5982);
}
#Vatan{
    background: linear-gradient(to right top, #fad64e, #2c2b26);
}
#Extra{
    background: linear-gradient(to right top, #6b443b, #6b443b);
}
#Info{
    background: linear-gradient(to right top, #f20e1b, #0475ff);
}
#logo{
    height: auto;
    width: 40px;
}